
body{
background-image:(Vector Black & Red Hi-Rez.jpeg);
font-size: medium;
}

body{
    line: height 10cm;
}
body{ a{color:blue}
a:hover{color:black}
}

body{font: size 15px;

    font: weight 300px;
    font: weight 300px;







}

