
body{
background-image: background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
;

}


.container{
    text-align: center;

}
#email{
    padding-left: 100px;
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
}

#senha{
    padding-left:100px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;


}

.bot{
    text-align: center;
}


#login{
    background-image:background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8f8f8f 0%, #E0C 100%);
    
    
    



}


.check{
    text-align: center;
}

#check{
    margin: 20px;
    
}

#esqueci{
text-decoration:none;
text-decoration-color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-left: 20px;
margin-bottom: 200px;
font-size: 12px;


}





















}

