body {
    background-color: blueviolet;
    
}

.container{
    text-align: center;
}

#email{
    padding-left: 100px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;

}

#senha{
    padding-left: 100px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;

}

.form-group{
    text-align: center;
    margin: 10px;

}

.form-group2{
    text-align: center;
    
}

#login{
    background-color: blue;
    color: white 
   

}

#check{
    margin: 20px;

}

#esqueci{
    text-decoration:none;
    text-decoration-color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-bottom: 200px;
    color: black;
    font-size: 20px;
    
}

#esqueci:hover {
  background-color: rgb(220, 131, 238);
  transition: 1s;
}




.btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }